@font-face {
    font-family: 'Raleway';
    src: url(./Raleway-Regular.woff2) format('woff2');
    src: url(./Raleway-Regular.woff) format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url(./Raleway-ExtraBold.woff2) format('woff2');
    src: url(./Raleway-ExtraBold.woff) format('woff');
    font-weight: bold;
}